{% extends "layout.html" %}
{% block content %}
<div class="btn btn-dark btn-lg btn-block px-4 py-2 fs-10 fw-bolder text-white mb-4 mt-4" style="border-color: rgba(240, 248, 255, 0.225); margin: auto">Whats happening at Fisk!</div>

<div class=" mt-2">
    <div class="btn btn-danger ml-2">Categories</div>
    <button type="button" class="btn btn-outline-secondary ml-2">Student Clubs</button>
    <button type="button" class="btn btn-outline-success ml-2">Professional Dev.</button>
    <button type="button" class="btn btn-outline-danger ml-2">Internships</button>
    <button type="button" class="btn btn-outline-warning ml-2">Career Fairs</button>
    <button type="button" class="btn btn-outline-info ml-2">Volunteering</button>
    <button type="button" class="btn btn-outline-dark ml-2 text-muted">See More...</button>
</div>

{% endblock content %}