{% extends "layout.html" %}
{% block content %}

<button type="button" class="btn btn-primary btn-md btn-block" style="width: 60%; margin: auto;">Whats happening at Fisk!</button>
<div class=" mt-2">
    <div class="btn btn-danger ml-2">Categories</div>
    <button type="button" class="btn btn-outline-secondary ml-2">Student Clubs</button>
    <button type="button" class="btn btn-outline-success ml-2">Professional Dev.</button>
    <button type="button" class="btn btn-outline-danger ml-2">Internships</button>
    <button type="button" class="btn btn-outline-warning ml-2">Career Fairs</button>
    <button type="button" class="btn btn-outline-info ml-2">Volunteering</button>
    <button type="button" class="btn btn-outline-dark ml-2">See More...</button>
</div>

{% endblock content %}