{% extends "layout.html" %}
{% block content %}
<style>
  .form-control{
      border: none;
  }

</style>
<div class="content-section text-white " style="width: 70%; margin: auto; margin-top: 2em;">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class=" mb-4">{{ legend }}</legend>
          <div class="form-group">
              {{ form.title.label(class="form-control-label text-white") }}
              {% if form.title.errors %}
                  {{ form.title(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.title.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.title(class="form-control form-control-lg bg-dark text-white") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.content.label(class="form-control-label text-white") }}
              {% if form.content.errors %}
                  {{ form.content(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.content.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.content(class="form-control form-control-lg bg-dark text-white") }}
              {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
          {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
      </div>
  </form>
</div>








<!-- <button type="button" class="btn btn-primary btn-md btn-block mb-3" style="width: 60%; margin: auto;">What's new at Fisk</button> -->
    {% for post in posts.items %}
    
        <article class="media content-section mb-3" style="width: 70%; margin: auto;">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.first_name.title() + ' ' + post.author.last_name.title()}}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

    {% endfor %}
    <section style="width: 70%;">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('feed', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('feed', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
  {% endblock content %}
    </section>
    